@media only screen and (max-width: 480px) {
  html,
  body {
    margin: 0 auto;
    width: 100vw;
    background-size: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  ul {
    justify-content: space-around;
    flex-direction: column;
    width: 100vw;
    padding: 0;
  }
  /*li style if time*/
  .god {
    justify-content: center;
    height: 50vh;
    flex-direction: column;
    text-align: center;
    grid-template-rows: 100%;
  }
  h1 {
    font-size: 40px;
    margin-top: 15%;
    max-width: 100vw;
  }
  .godp {
    text-align: center;
    justify-self: center;
    max-width: 90vw;
    margin: auto;
    max-width: 100vw;
  }
  button {
    margin-top: 2em;
  }
  .about {
    max-height: none;

    flex-direction: column;
    box-sizing: border-box;
    grid-template-rows: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-columns: 100%;
  }
  .aboutus {
    grid-row: 1;
    padding: 0;
    z-index: 1;
    width: 100vw;
  }
  .aboutlabel {
    max-width: 100vw;
  }
  .usL {
    max-width: 100vw;
  }
  .hand {
    grid-row: 2;
    width: aut0;
    padding: 0;
  }

  .products {
    max-width: 100vw;
    max-height: none;
  }
  .producthead {
    flex-wrap: wrap;
    max-width: 100vw;
    text-align: left;
  }
  .buyme {
    font-size: 20px;
    text-align: left;
    justify-content: start;
    /* align-items: flex-start;
    margin-top: 0;
    padding-left: 15px; */
  }
  .viewmore {
    text-align: left;
    justify-content: start;
    /* align-items: flex-end; */
    padding: 0;
    margin: 5px auto 10px 15px;
    line-height: 0.5;
  }
  .container {
    display: flex;
    flex-direction: column;
    /* min-height: 950px; */
    max-width: 100vw;
    padding: 1em;
  }

  .grid {
    display: grid;
    max-width: 100vw;
  }
  /* .parcel{
 grid-row: 1/ span2;

}
.head{}
.koo{}

.scoop{}
.mari{}} */
  .numberbar {
    flex-direction: column;
  }
  .blsquare {
    padding-bottom: 0px;
    height: 100px;
    margin-top: 7px;
  }
  .emptycell {
    display: none;
  }
  .number {
    margin-top: 1em;
  }
  .touch {
    width: 80vw;
  }
  .inputemail {
    max-width: 70vw;
    justify-content: center;
    justify-self: center;
    padding-left: 23px;
    flex-wrap: nowrap;
  }

  .media {
    display: flex;
    flex-direction: column;
  }
  .medicons {
    display: flex;
    flex-flow: column;
    width: 100px;
    justify-items: center;
    text-align: center;
    margin-bottom: 15px;
    align-items: center;
  }
  li.company {
    justify-content: flex-end;
    align-content: space-around;
    margin-left: 40px;
    line-height: 0.4;
    padding: 5px;
  }
  .bbc {
    align-self: center;
    padding-right: 0px;
    padding-left: 40px;
  }
  .netflix {
    align-self: center;
    padding-right: 0px;
    padding-bottom: 3px;
  }
  .forbes {
    align-self: center;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .mash {
    align-self: center;
    margin-right: 0px;
    padding-right: 20px;
    padding-top: 2px;
    padding-left: 20px;
  }
  .life {
    align-self: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 30px;
  }
  .buzz {
    align-self: center;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .address {
    max-width: 100vw;
    flex-direction: column;
  }
  .data-align {
    flex-flow: wrap;
  }
  .logo-w {
    padding-bottom: 3px;
    align-self: center;
  }

  .addr {
    align-self: center;
    line-height: 1;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .phone {
    align-self: center;
    line-height: 1;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .nipw {
    align-self: center;
    padding-right: 0px;
    padding-left: 50px;
    margin-left: 20px;
  }
  .copywrite {
    height: 10px;
    width: 200px;
  }
} 
@media only screen and (max-device-width: 1400px) {
    .submit{
        margin: -10vw;
    }
    .products {
        max-height: min-content;
    }
}